In [9]:
import pandas as pd

In [6]:
def get_movie():
    inp = input('What is your favorite movie name and the year ?').lower().strip()
    while True:
        try:
           val = int(inp)
           print('Invalid Input, please type a movie name and the year only: ')
        except:
            print('You are not stupid')
            break

In [ ]:
def get_director():
    inp = input('What is the director name ?').lower().strip()
    while True:
        try:
           val = int(inp)
           print('Invalid Input, please type a director name only: ')
        except:
            print('You are not stupid')
            break

In [10]:
df = pd.read_csv('/Users/alexkingdom/Projects/Python/Group Project/movie_list.csv')

In [13]:
df.head()

       The Godfather 1972  Francis Ford Coppola   Drama, Thriller, Crime
0       Citizen Kane 1941          Orson Welles           Drama, Mystery
1        Rear Window 1954      Alfred Hitchcock        Mystery, Thriller
2         Casablanca 1943        Michael Curtiz      Drama, Romance, War
3            Boyhood 2014     Richard Linklater                    Drama
4  Three Colors: Red 1994  Krzysztof Kieslowski  Drama, Mystery, Romance

In [ ]:
df.groupby('Richard Linklater')